@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
section
{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background:url(b8.jpg)no-repeat;
  background-size: cover;
  background-position: center;
}
header
{
  position: relative;
  top: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: right;
}
header .navigation a:not(:last-child)
{
  margin-right: 30px;
}
header .navigation a:hover
{
  background: #fff;
}
.content
{
  max-width: 650px;
  margin: 60px 100px;
}
.content .info h2
{
  color: #FFFFFF;
  font-size: 100px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  line-height: 100px;
  margin-bottom: 30px;
}
.content .info h2 span
{
  color: #fff;
  font-size: 50px;
  font-weight: 600;
}
.content .info h3
{
  font-size: 22px;
  font-weight: 800;
  margin-bottom: 40px;
  color: #FFFFFF;
}
.content .info-btn
{
  color: #fff;
  background: #FDA50F;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: 0.3s;
  transition-property: background;
}
.content .info-btn:hover
{
  background: #0000FF;
}
.navigation .navigation-btn
{
  color: #fff;
  background: #FDA50F;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 6px 20px;
  border-radius: 5px;
  transition: 0.3s;
  transition-property: background;
}
.navigation .navigation-btn:hover
{
  background: #0000FF;
}
